@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --padding: 5px;
  --primary: darkblue;
  --radius: 6px;
  --supplementary: #f6f6f6;
  --thickness: 2px;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
}

.bold {
    font-weight: bold;
}

.centerer {
    display: flex;
    justify-content: center;
}

.dialog {
  background: white;
  padding: var(--padding);
}

.dialog-children {
    margin-bottom: var(--padding);
    margin-top: var(--padding);
    max-height: 200px;
    overflow: auto;
}

.field-btn-pair {
  align-items: center;
  display: flex;
}

.flex {
  display: flex;
}

.logo {
  max-height: calc(20px + 1em);
}

.no-login-bottom-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.no-login-bottom-bar-link {
  color: white;
}

.no-login-form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.no-login-layout {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: auto;
  width: 100%;
}

.no-login-top-bar-link {
  color: white;
  display: flex;
  padding: 10px;
  text-decoration: none;
}

.no-login-top-bar-controls {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.no-login-top-bar-logo-div {
  align-items: center;
  display: flex;
  padding: 0px var(--padding);
}

.primary-btn {
    background: var(--primary);
    border-color: var(--primary);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--thickness);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    padding: var(--padding);
}

.radio {
  accent-color: var(--primary);
}

.radio-label {
  display: flex;
  padding: var(--padding);
}

.secondary-round-btn {
  background: white;
  border-color: black;
  border-radius: 100%;
  border-style: solid;
  border-width: var(--thickness);
  cursor: pointer;
  display: flex;
  padding: var(--padding);
}

.text-field {
    border-radius: var(--radius);
    border-top: var(--supplementary) var(--thickness) solid;
    border-left: var(--supplementary) var(--thickness) solid;
    border-right: var(--supplementary) var(--thickness) solid;
    border-bottom: black var(--thickness) solid;
    font-size: 1em;
    padding: var(--padding);
}

.text-field:focus {
  border: black var(--thickness) solid;
}

.text-field-grown {
    border-radius: var(--radius);
    border-top: var(--supplementary) var(--thickness) solid;
    border-left: var(--supplementary) var(--thickness) solid;
    border-right: var(--supplementary) var(--thickness) solid;
    border-bottom: black var(--thickness) solid;
    flex-grow: 1;
    font-size: 1em;
    padding: var(--padding);
    width: 0px;
}

.text-field-grown:focus {
  border: black var(--thickness) solid;
}

.ul {
    margin-left: 1em;
}

.warning-color {
    color: #8B8000;
}
